{{% extends 'base.html' %}}

{% block main %}
 <div class="rounded shadow p-3 mt-4"></div>
 <h3 >Edit {{movie.title}}</h3>
 <hr />
 <p class="p-4 alert alert-info">
     {{msg}}

 </p>
 {% endif %}
 
<div class="rounded shadow p-3">
    <form action="/new-movie" method="post">
    <label for="title">movie Title</label>
    <input type="text" name="title" id="title" class="form control" />
    <label for="year">Release Year</label>
    <input type="number" name="year" id="year" class="form control" />

    <label for="buget">Budget</label>
    <input type="text" name="budget" id="budget" class="form-control" />

    <label for="cast">Cast</label>
    <input 
        type="text"
        name="cast"
        id="title"
        class="form-control"
        placeholder="who are the main cast.separate with a ," 
        />

        <input 
            type="submit" 
            value="Add Movie" 
            class="btn btn-sm btn-success mt-3" 
        />
        <a href="/" class="btn btn-sm btn-primary mt-3">Done</a>
        <a href="btn btn-sm btn primary mt-3">
            <span class="fa fa-save"></span>
            Update Movie
            </button>

            <a href="/" class="btn btn-sm fa fa-primary mt-3"></a>
            End Movie

        </a>
    </form> 
  </div>
{% endblock %}
