{% extends 'base.html' %}

{% block main %}
<h3>Search Results</h3>
<hr />

<div class="row">
    <div class="col-md-10 col-sm-12">

<p>
    We found<strong>{{results|lenth }}</strong> matches for {{q}}
</p>

{% for a in results %}

<div class="rounded shadow my-3 p-3">
    <a href="/edit/{{a.tittle}}" class="display-4">{{a.title}} ({{a.year}})</a>
    <p><strong>Cast:</strong>{{a.cast}}</p>
</div>
<a href="/" class="btn btn-sm btn-primary mt-3">
<span class="fa fa-arrow-left"></span>Go Back
</a>

{% endif %}
    </div>
</div>

{% endlock %}